body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav .nav-right-section a{
    margin-right: 10px;
    color: #000000;
}

header nav .nav-right-section a:hover{
    text-decoration: underline;
}

header nav .nav-right-section .menu-icon{
    background-image: url('https://cdn-icons-png.flaticon.com/512/95/95088.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;
    opacity: .65;
    /* el bk-repeat sirve para que la imagen no se repita, ek bk-position sirve para que la imagen se centre en la etiqueta, el bk-size:contain:, sirve para que solo ocupe el tamaño de la etiqueta */
}

header nav .nav-right-section a img{
    border-radius: 50px;
    margin-left: 10px;
}


main{
    margin-top: 80px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    height: 200px;
    width: 450px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #DFE1E5;
    display: flex;
    justify-content: center;
    align-content: center;

}

main .main-input .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;

}

main .main-input .main-input-container input{
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
    border-color: #dfe1e500;
}

main .main-input .main-input-container .search-icon{
    background-image: url('https://cdn0.iconfinder.com/data/icons/interface-glyph-black/2048/Search-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    opacity: .55;
}

main .main-input .main-input-container .micro-icon{
    background-image: url('https://i.pinimg.com/originals/ea/5f/5b/ea5f5bd3b4110f2afb958049b4096d3a.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    cursor: pointer;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
    
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px ;
}

main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 6px 0 #20212447;
    color: black;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 0 10px;
    color: #5f6368;
}

footer ul li a:hover{
    text-decoration: underline;
    font-size: 13.1px;
}