*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header span{
    font-family: 'Noto Serif HK', serif;
    font-size: 4.5rem;
}

header h1{
    font-family: 'Noto Serif HK', serif;
    font-size: 3.5rem;
}

header h2{
    font-family: 'Noto Serif HK', serif;
    font-size: 1.5rem;
}

header .tittle{
    margin-top: 3rem;
}

main .main-nav{
    width: 100%;
    height: 40rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
main .main-nav section{
    width: 26rem;
    height: 100%;
    border: 1px solid rgb(236, 75, 75);
}

main .main-nav section ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

main .main-nav section ul li{
    padding: 0;
    list-style: none;
    display: inline-block;
    flex-direction: column;
    width: 100%;
    height: 80px;
    margin: 0 0;
    box-sizing: border-box;
}

main .main-nav section ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: #36c;
}

main .main-nav .sec1 ul li:nth-child(1), main .main-nav .sec1 ul li:nth-child(5){
    padding-left: 100px;
}

main .main-nav .sec1 ul li:nth-child(2), main .main-nav .sec1 ul li:nth-child(4){
    padding-left: 25px;
}

main .main-nav .sec3 ul li:nth-child(1), main .main-nav .sec3 ul li:nth-child(5){
    padding-right: 100px;
}

main .main-nav .sec3 ul li:nth-child(2), main .main-nav .sec3 ul li:nth-child(4){
    padding-right: 25px;
}